<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClHDi9EIg5ZNKgBFLctPM9th7iU1Lrhyk</string>
	<key>GCM_SENDER_ID</key>
	<string>100388520427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>micropile2023.MICROUI-2023-Draft</string>
	<key>PROJECT_ID</key>
	<string>microui2023</string>
	<key>STORAGE_BUCKET</key>
	<string>microui2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100388520427:ios:366aae88300078446399ae</string>
</dict>
</plist>